<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.Mainmapper">
     <!-- namespace를 다르게 해주면 id값이 같아도 저장된 장소가 달라 상관이 없다. -->
     <!-- 인터페이스 매퍼에 추상메소드이름과 같게 하면 된다. -->
	<!-- VO에 대한 정보가 없으니 넣어줘야 한다!! -->
	
	<!-- Comments  -->
	<select id ="commentList" resultType="kr.smhrd.mapper.CommentsVO">
	    <!-- 연결만 해 놓으면 return은 mybatis가 알아서한다. -->
	    select * from comments order by comm_seq desc
	</select>
	
	<insert id="commentsInsert" parameterType="kr.smhrd.mapper.CommentsVO">
	    insert into comments(song_seq, comm_content, user_id)
	    values(#{song_seq}, #{comm_content}, #{user_id})
	</insert>
	
	<update id ="commentsUpdate" parameterType="kr.smhrd.mapper.CommentsVO">
	    update comments set song_seq=#{song_seq}, comm_content=#{comm_content} where comm_seq=#{comm_seq}
	</update>
	
	<delete id ="commentsDelete" parameterType="kr.smhrd.mapper.CommentsVO">
	    delete from comments where comm_seq=#{comm_seq}
	</delete>
	
	<select id="commentsInfo" parameterType="int" resultType="kr.smhrd.mapper.CommentsVO">
	    select * from comments where comm_seq=#{comm_seq}
	</select>
	
	
	<!-- 플레이리스트 -->
	<select id ="playlist_List" resultType="kr.smhrd.mapper.PlaylistsVO">
	    select * from playlists order by pl_seq asc
	</select>
	
	<insert id="playlistsInsert" parameterType="kr.smhrd.mapper.PlaylistsVO">
	    insert into playlists(pl_seq, pl_title, user_id, song_list)
	    values(#{pl_seq}, #{pl_title}, #{user_id}, #{song_list})
	</insert>
	
	<update id="playlistsUpdate" parameterType="kr.smhrd.mapper.PlaylistsVO">
	    update playlists set pl_title=#{pl_title}, song_list=#{song_list} where pl_seq=#{pl_seq}
	</update>
	
	<delete id="playlistsDelete" parameterType="kr.smhrd.mapper.PlaylistsVO">
	    delete from playlists where pl_seq=#{pl_seq}
	</delete>
	
	<select id="playlistsInfo" parameterType="int" resultType="kr.smhrd.mapper.PlaylistsVO">
	    select * from playlists where pl_seq=#{pl_seq}
	</select>
	
</mapper>